* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 20%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

aside {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
}
