* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/harry-potter-hogwarts-sunset-poster-art-5rssjskb830c7wal.jpeg);
  background-size: 2000px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.trybewarts-header-logo {
  width: 80px;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 20%;
}

#email , #senha , #botao-entrar {
  height: 30px;
  margin: 0 5px;
}

#botao-entrar {
  border-radius: 10%;
  width: 100px;
  background-color: white;
  padding: 0;
  border: 0;
}

#botao-entrar:hover {
  background-color:rgb(39, 128, 111);
}

main {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 30px;
  border-radius: 5%;
  background-color: rgb(50, 167, 145);
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name , #input-lastname , #input-email , #house {
  width: 40%;
  margin: 5px;
}

#evaluation-form select {
  width: 40%;
}

.checkbox-style {
  display: flex;
  flex-wrap: wrap;
}

.check {
  margin-right: 25%;
}

.distance {
  margin: 20px 0;
}

#one {
  margin-right: 27%;
}

#two {
  margin-right: 16.5%;
}

.actions {
  display: flex;
  flex-direction: row;
}

.butoes-action {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#counter {
  display: flex;
  justify-content: flex-end;
}

footer {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
}
